$color-white: #FFFFFF;
$color-purple: #D0D6F9;
$color-black: #0B0D17;


$tablet-breakpoint: 480px;
$laptop-breakpoint: 760px;

:root {
  --color-text: #{ $color-white };
  --color-background: #{ $color-black };
  --color-secondary-text: #{ $color-purple };


  --h1-size: 80px;
  --h2-size: 100px;
  --h3-size: 56px;
  --h4-size: 32px;
  --h5-size: 16px;
  --body-size: 15px;
  --body-line-height: 28px;

  --explore-button-size: 150px;
  --explore-button-font-size: 20px;
  --explore-button-color: #{ $color-black };
  --explore-button-background-color: #{ $color-white };
  --explore-button-shadow-color: rgba(255, 255, 255, 0.1);
  --explore-button-shadow-width: 40px;

  --tab-border-bottom-hover-color: #979797;
  --tab-border-bottom-active-color: #{ $color-white};

  --destination-separator-color: #979797;
  --destination-image-size: 170px;
}

@media (min-width: $tablet-breakpoint) {
  :root {
    --h1-size: 150px;
    --h2-size: 100px;
    --h3-size: 56px;
    --h4-size: 32px;
    --h5-size: 20px;
    --body-size: 16px;

    --explore-button-size: 242px;
    --explore-button-font-size: 32px;
    --explore-button-color: #{ $color-black };
    --explore-button-background-color: #{ $color-white };
    --explore-button-shadow-width: 40px;

    
    --destination-image-size: 300px;
  }
}

@media (min-width: $laptop-breakpoint) {
  :root {
    --h1-size: 150px;
    --h2-size: 100px;
    --h3-size: 56px;
    --h4-size: 32px;
    --h5-size: 28px;
    --body-size: 18px;

    --explore-button-size: 274px;
    --explore-button-font-size: 32px;
    --explore-button-color: #{ $color-black };
    --explore-button-background-color: #{ $color-white };
    --explore-button-shadow-width: 40px;

    --destination-image-size: 445px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-size: var(--body-size);
  font-family: 'Bellefair', serif;
}
