$color-white: #FFFFFF;
$color-purple: #D0D6F9;
$color-black: #0B0D17;
$color-grey: #979797;


$tablet-breakpoint: 768px;
$laptop-breakpoint: 1000px;

:root {
  --color-text: #{ $color-white };
  --color-background: #{ $color-black };
  --color-secondary-text: #{ $color-purple };

  --h1-size: 80px;
  --h2-size: 100px;
  --h3-size: 56px;
  --h4-size: 32px;
  --h5-size: 16px;
  --body-size: 15px;
  --body-line-height: 28px;

  --main-horizontal-padding: 50px;
  --main-vertical-padding: 40px;

  --explore-button-size: 150px;
  --explore-button-font-size: 20px;
  --explore-button-color: #{ $color-black };
  --explore-button-background-color: #{ $color-white };
  --explore-button-shadow-color: rgba(255, 255, 255, 0.1);
  --explore-button-shadow-width: 40px;

  --page-title-number-color: #51535a;

  --tab-border-bottom-hover-color: #{ $color-grey };
  --tab-border-bottom-active-color: #{ $color-white};

  --destination-separator-color: #{ $color-grey };
  --destination-image-size: 170px;

  --point-slider-size: 10px;
  --point-slider-color: #36373f;
  --point-slider-hover-color: #85868b;
  --point-slider-active-color: #{ $color-white };

  --crew-image-size: 223px;
  --crew-separator-color: #383B4B;
  --crew-role-color: #8e8f93;

  --number-slider-color: #{ $color-white };
  --number-slider-border-color: #494a52;
  --number-slider-border-hover-color: #{ $color-white };
  --number-slider-active-background-color: #{ $color-white };
  --number-slider-active-color: #{ $color-black };
  --number-slider-size: 40px;

  --technology-image-height: 170px;

  --logo-size: 40px;
  --logo-margin-left: 1em;

  --header-margin-top: 0;
  --header-height: 60px;
}

@media (min-width: $tablet-breakpoint) {
  :root {
    --h1-size: 150px;
    --h2-size: 100px;
    --h3-size: 56px;
    --h4-size: 32px;
    --h5-size: 20px;
    --body-size: 16px;

    --main-horizontal-padding: 40px;
    --main-vertical-padding: 76px;

    --explore-button-size: 242px;
    --explore-button-font-size: 32px;
    --explore-button-color: #{ $color-black };
    --explore-button-background-color: #{ $color-white };
    --explore-button-shadow-width: 40px;

    --destination-image-size: 300px;
    --destination-additional-information-gap: 100px;
    
    --crew-image-size: 532px;

    --number-slider-size: 60px;

    --technology-image-height: 310px;

    --logo-size: 48px;
    --logo-margin-left: 1.5em;

    --header-height: 96px;

    --menu-padding: 25px
  }
}

@media (min-width: $laptop-breakpoint) {
  :root {
    --h1-size: 150px;
    --h2-size: 100px;
    --h3-size: 56px;
    --h4-size: 32px;
    --h5-size: 28px;
    --body-size: 18px;

    --main-horizontal-padding: 100px;
    --main-vertical-padding: 76px;

    --explore-button-size: 274px;
    --explore-button-font-size: 32px;
    --explore-button-color: #{ $color-black };
    --explore-button-background-color: #{ $color-white };
    --explore-button-shadow-width: 40px;

    --destination-image-size: 445px;
    --destination-information-container-max-width: 445px;
    --destination-container-gap: 200px;

    --point-slider-size: 15px;

    --crew-image-size: 607px;
    --crew-information-max-width: 445px;
    
    --number-slider-size: 80px;
    --header-margin-top: 1.5em;

    --menu-padding: 150px;

    --technology-details-max-width: 470px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-size: cover;
  font-size: var(--body-size);
  font-family: 'Bellefair', serif;
}
